<div class="container mat-elevation-z8">
    <h1 class="full-width">Updating Ticket</h1>
    <img class="full-width" src="assets/img/ticket-create.svg" alt="Ticket image">

    <form class="form">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Ticket Title</mat-label>
          <input
          [(ngModel)]="ticket.title"
          name="title"
          [formControl]="title"
          required 
          matInput 
          placeholder="Ex. Switch notebook battery">
        </mat-form-field>
      </form>
      
      <div class="status-priority">
        <mat-form-field appearance="outline">
            <mat-label>{{ returnStatus(ticket.status) }}</mat-label>
            <mat-select 
            [(ngModel)]="ticket.status"
            name="status"
            [formControl]="status" 
            required>
              <mat-option value="0">OPENED</mat-option>
              <mat-option value="1">IN PROGRESS</mat-option>
              <mat-option value="2">CLOSED</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{ returnPriority(ticket.priority) }}</mat-label>
            <mat-select  
            [(ngModel)]="ticket.priority"
            name="priority"
            [formControl]="priority" 
            required>
              <mat-option value="0">LOW</mat-option>
              <mat-option value="1">AVERAGE</mat-option>
              <mat-option value="2">HIGH</mat-option>
            </mat-select>
          </mat-form-field>
      </div>

      <div class="technician">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>{{ ticket.nameTechnician }}</mat-label>
            <mat-select 
            [(ngModel)]="ticket.technician"
            name="technician"
            [formControl]="technician" 
            required>
              <mat-option *ngFor="let tec of technicians" value="{{ tec.id }}">{{ tec.name }}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>

      <div class="client">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>{{ ticket.nameClient }}</mat-label>
            <mat-select 
            [(ngModel)]="ticket.client"
            name="client"
            [formControl]="client" 
            required>
              <mat-option *ngFor="let cli of clients" value="{{ cli.id }}">{{ cli.name }}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>

      <form class="form">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Description</mat-label>
          <textarea 
          [(ngModel)]="ticket.observation"
          name="observation"
          [formControl]="observation"
          required 
          class="observation" 
          matInput 
          placeholder="Ex. Switch battery on a HP laptop at my desk"></textarea>
        </mat-form-field>
      </form>

      <button (click)="update()" [disabled]="!validateField()" class="full-width mat-elevation-z4" mat-raised-button color="primary">Update</button>
      <button routerLink="../" class="full-width mat-elevation-z4" mat-stroked-button color="warn">Cancel</button>

      <p class="full-width" >Developed by Renan Bueno</p>
      
</div>